@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display transition-colors duration-300;
  }
}

.ink-mask-text {
  background: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?auto=format&fit=crop&q=80&w=800') center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.floating-shape {
  filter: blur(40px);
  opacity: 0.4;
}